[submodule "software_engineering"]
	path = software
	url = https://github.com/arcturus-school/fyjlsq.git
[submodule "gobang"]
	path = gobang
	url = https://github.com/arcturus-school/gobang.git
[submodule "front_end"]
	path = frontend
	url = https://github.com/arcturus-weather/flutter.git
	branch = 1.0.0
[submodule "osLab"]
	path = osLab
	url = https://github.com/arcturus-school/minishell.git
[submodule "parallel"]
	path = parallel
	url = https://github.com/arcturus-school/parallel.git
[submodule "python"]
	path = python
	url = https://github.com/arcturus-school/python.git
