[submodule "software"]
	path = software
	url = https://github.com/arcturus-school/fyjlsq.git
[submodule "gobang"]
	path = gobang
	url = https://github.com/arcturus-school/gobang.git
[submodule "osLab"]
	path = osLab
	url = https://github.com/arcturus-school/minishell.git
[submodule "parallel"]
	path = parallel
	url = https://github.com/arcturus-school/parallel.git
[submodule "python"]
	path = python
	url = https://github.com/arcturus-school/python.git
[submodule "machine_learning"]
	path = machine_learning
	url = https://github.com/arcturus-school/machine_learning.git
[submodule "data_structure"]
	path = data_structure
	url = https://github.com/arcturus-school/data_structure.git
[submodule "compiler"]
	path = compiler
	url = https://github.com/arcturus-school/compiler.git
[submodule "testing"]
	path = testing
	url = https://github.com/arcturus-school/testing.git
[submodule "algorithm"]
	path = algorithm
	url = https://github.com/arcturus-school/algorithm.git
[submodule "ai"]
	path = ai
	url = https://github.com/arcturus-school/ai.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/arcturus-weather/flutter.git
	branch = 1.0.0
