[submodule "software_engineering"]
	path = software_engineering
	url = https://github.com/arcturus-org/fyjlsq.git
[submodule "gobang"]
	path = gobang
	url = https://github.com/ICE99125/gobang.git
[submodule "front_end"]
	path = front_end
	url = https://github.com/arcturus-org/weather.git
	branch = flutter-1.0
